.feedback{
    padding-top: 100px;
    padding-bottom: 200px;
    
}
.feedback-form input {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    background: transparent;
    border-radius: 4px;
    border: 2px solid #181818a7;
    color: #000;
    animation: shake_541 0.14s 3;
  }
  
  .feedback-form input:valid {
    border-color: #029455;
    animation: none;
  }
  .feedback-form textarea {
    width: 100%;
    padding: 0 16px;
    background: transparent;
    border-radius: 4px;
    border: 2px solid #181818a7;
    color: #000;
    animation: shake_541 0.14s 3;
  }
  
  .feedback-form textarea:valid {
    border-color: #029455;
    animation: none;
  }
  .feedback-form button {
    position: relative;
    background-color: #181717e1;
    box-sizing: border-box;
    width: 50%;
    height: 49px;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight:900 ;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    z-index: 1;
  }
  
  .feedback-form button::before {
    content: "";
    background-color: rgb(24, 22, 23);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
    display: inline-block;
  }
  
  .feedback-form button:hover::before {
    width: 100%;
  }
  
  
  @keyframes shake_541 {
    0%, 100% {
      translate: 0;
    }
  
    25% {
      translate: 8px 0;
    }
  
    75% {
      translate: -8px 0;
    }
  }


  @media(max-width:700px) {
  .feedbackImg {
    margin-left: 10px;
    margin-right: 10px;
  }
  }