 {% extends 'base.html'%}

{% block title %} Home {% endblock %}

{% block css %} 
<link rel="stylesheet" href="../static/css/home.css">
<link rel="stylesheet" href="../static/css/about.css">
<link rel="stylesheet" href="../static/css/meetteam.css">
<link rel="stylesheet" href="../static/css/contact.css">
<link rel="stylesheet" href="../static/css/feedback.css">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

{% endblock %}

{% block body %}
<!-- hero section -->
<section class="hero-section position-relative">
  <div class="rain-background position-absolute "></div>
  <div  class="music-icons position-absolute">
    <img src="../static/Image/happy.svg" alt="music icon" class="icon1">
    <img src="../static/Image/sad.svg" alt="music icon" class="icon2">
    <img src="../static/Image/surprise.svg" alt="music icon" class="icon3">
    <img src="../static/Image/disgust.svg" alt="music icon" class="icon4">
    <img src="../static/Image/angry.svg" alt="music icon" class="icon5">
    <img src="../static/Image/fear.svg" alt="music icon" class="icon6">
    <img src="../static/Image/neutral.svg" alt="music icon" class="icon7">
  </div>
  <div class="container-md px-md-5">
    <div class="row" style="padding-top: 20px;">
      <div class="col-md-7 d-flex flex-column hero-text" data-aos="fade-right"  data-aos-duration="600">
        <h2 class="hero-heading">Find music with your face expressions!</h2>
        <h5 class="hero-subheading">
          Music can change your mood in a second.
          <br>Listen to the music that suits
          <br> your mood.
        </h5>
        <a class="col-md-5 button" href="{% url 'face-expression' %}"> Discover Music</a>
      </div>
      <div data-aos="fade-left"  data-aos-duration="600" class="col-md-5 d-flex flex-column justify-content-center order-first order-md-last" style="perspective: 500px;">
        <img id="heroImage" src="../static/Image/hero-img.png" alt="hero-img" class="img-fluid" style="object-fit: cover; z-index: 1; transition: transform 1s ease; ">
      </div>
    </div>
  </div>
</section>

<svg style="z-index:-1;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffff00" fill-opacity="1" d="M0,256L60,234.7C120,213,240,171,360,149.3C480,128,600,128,720,149.3C840,171,960,213,1080,234.7C1200,256,1320,256,1380,256L1440,256L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
<!-- about us -->
<div id="about"></div>
<section  class="about">
    <div class="container-md px-md-5">
      <div class="row">
        <div class="col-md-6 col-12" id="about-content">
          <h1 class="title" id="about" data-aos="fade-right"><span>About</span></h1>
          <p class="pt-4" data-aos="fade-right">
            Welcome to our music recommendation website! 
            We are a team of music enthusiasts who believe that facial 
            expressions can reveal a lot about the kind of music that people enjoy. 
            Our website is designed to help you discover new music that matches your emotional state.
          </p>
          <p data-aos="fade-right">
            To empower individuals to discover and connect with music that matches their emotions
            and facial expressions, providing a personalized and meaningful music listening experience.
          </p>
        </div>
        <div class="col-md-5 col-12" data-aos="zoom-in-down">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../static/Image/happy.png" class="d-block img-fluid h-100" alt="Image 1">
              </div>
              <div class="carousel-item">
                <img src="../static/Image/sad.png" class="d-block img-fluid h-100" alt="Image 2">
              </div>
              <div class="carousel-item">
                <img src="../static/Image/neutral.png" class="d-block img-fluid h-100" alt="Image 3">
              </div>
              <div class="carousel-item">
                <img src="../static/Image/disgust.png" class="d-block img-fluid h-100" alt="Image 4">
              </div>
              <div class="carousel-item">
                <img src="../static/Image/Untitled-1.jpg" class="d-block img-fluid h-100" alt="Image 5">
              </div>
              <div class="carousel-item">
                <img src="../static/Image/fear.png" class="d-block img-fluid h-100" alt="Image 6">
              </div>
              <div class="carousel-item">
                <img src="../static/Image/surprise.jpg" class="d-block img-fluid h-100" alt="Image 7">
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" class="active" style="height: 8px;border: 2px solid #000;"></li>
              <li data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1" style="height: 8px;border: 2px solid #000;"></li>
              <li data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2" style="height: 8px;border: 2px solid #000;"></li>
              <li data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="3" style="height: 8px;border: 2px solid #000;"></li>
              <li data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="4" style="height: 8px;border: 2px solid #000;"></li>
              <li data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="5" style="height: 8px;border: 2px solid #000;"></li>
              <li data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="6" style="height: 8px;border: 2px solid #000;"></li>
            </ol>
          </div>
        </div>
        
        <div class="col-md-1 d-flex justify-content-center align-items-center position-relative">
            <button class="carousel-button next rounded-circle border-dark">
                <span class="icon">&#10132;</span>
            </button>
        </div>
      </div>
    </div>
</section>
<!-- meet our team -->
<section class="ourteam">
  <div class="container-md px-md-5">
    <h1 class="title p-2"  data-aos="fade-right"><span>Meet our team</span></h1>
    <div class="row pt-5 d-flex flex-nowrap overflow-auto" data-aos="fade-up" >
      <div class="col-md-3 px-2">
        <div class="card d-flex flex-column align-items-center">
          <div class="card-profile">
            <img src="../static/Image/sonam.png" alt="sonam">
          </div>
          <div class="card-body">
            <p class="name">Sonam Wangchuk</p>
            <p class="job">Backend Developer</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 px-2">
        <div class="card d-flex flex-column align-items-center">
          <div class="card-profile">
            <img src="../static/Image/pema wangmo.png" alt="sonam">
          </div>
          <div class="card-body">
            <p class="name">Pema Wangmo</p>
            <p class="job">Frontend Developer</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 px-2">
        <div class="card d-flex flex-column align-items-center">
          <div class="card-profile">
            <img src="../static/Image/pema chophel.png" alt="sonam">
          </div>
          <div class="card-body">
            <p class="name">Pema Chophel</p>
            <p class="job">UI & UX Designer</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 px-2">
        <div class="card d-flex flex-column align-items-center">
          <div class="card-profile">
            <img src="../static/Image/sujuta rai.png" alt="sonam">
          </div>
          <div class="card-body">
            <p class="name">Sujata Rai</p>
            <p class="job">Devops Engineer</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 px-2">
        <div class="card d-flex flex-column align-items-center">
          <div class="card-profile">
            <img src="../static/Image/purna kumer.png" alt="sonam">
          </div>
          <div class="card-body">
            <p class="name">Purna L.Kumer</p>
            <p class="job">Data Scientist</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-3">
      <button class="btn btn-team btn-lg" id="prevBtn">&lt;</button>
      <button class="btn btn-team btn-lg" id="nextBtn">&gt;</button>
    </div>
  </div>
</section>

<!-- Contact -->
<div id="contact"></div>
  <section id="contact" class="contact">
    <div class="container-md px-md-5">
      <h1 class="title"><span>Contact</span></h1>
        <div class="row py-4 px-4 gap-4 d-flex justify-content-center" style="margin-bottom: 100px;">
          <div style="z-index: 2;" >
            <h4 class="text-center pt-2 contact-subheading">GET IN TOUCH WITH US!</h4>
          </div>
        <div class="col-md-3 contact-card p-4" data-aos="flip-up">
          <img src="../static/Image/location.png" alt="">
          <h6 class="pt-3">Gyalposhing</h6>
        </div>
        <div class="col-md-3 contact-card p-4" data-aos="flip-up">
          <img src="../static/Image/phone.png" alt="">
          <h6 class="pt-3"> <a href="tel:17337528">+975 77725361</a></h6>
        </div>
        <div class="col-md-3 contact-card p-4" data-aos="flip-up">
          <img src="../static/Image/gmail.png " alt="">
          <h6 class="pt-3"> <a href="mailto:mrbfe.ai@gmail.com">mrbfe.ai@gmail.com</a></h6>
        </div>
      </div>
    </div>
    </section>
    

<!-- feed back -->
<div id="feedback"></div>
<section id="feedback" class="feedback">
  <div class="container-md px-md-5">
    <h1 class="title" data-aos="fade-right"><span>feedback</span></h1>
    <div class="row d-flex g-">
      <div class="col-md-5" data-aos="fade-right">
        {% if success_message %}
          <div class="alert alert-success">{{ success_message }}</div>
        {% endif %}
        {% if error_message %}
          <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}
        <form id="feedback-form" method="post" class="feedback-form d-flex flex-column gap-3 mt-5">
          {% csrf_token %}
          <input required type="email" name="email" 
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          maxlength="254"
          placeholder="Your Email">   
          <textarea required name="message" rows="8" pattern="[A-Za-z]{10,500}" maxlength="500" minlength="10" placeholder="Enter Your Message Here! (minimum 10 words of message)" class="pt-4"></textarea>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <button type="submit" class="mt-3">submit</button>
        </form> 
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6 d-flex align-items-end feedbackImg order-first order-md-last mt-3 mt-md-0" data-aos="zoom-in-left" style="background-color: rgb(253, 255, 211);height: 420px;border-radius: 20px;">
        <img src="../static/Image/fb.png" alt="feedback" width="100%" height="100%" style="object-fit: cover; object-position: center;position: relative; top: -10px;">
      </div>
    </div>
    
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  // Select the feedback form by ID
  var feedbackForm = $('#feedback-form');

  // Select the email and message input elements
  var emailInput = $('#email-input');
  var messageInput = $('#message-input');

  // Add a focus event handler to the input and textarea elements
  emailInput.focus(function() {
    // If the input element is empty, show the placeholder text
    if (!emailInput.val()) {
      emailInput.attr('placeholder', 'Your Email');
    }
  });

  messageInput.focus(function() {
    // If the textarea element is empty, show the placeholder text
    if (!messageInput.val()) {
      messageInput.attr('placeholder', 'Enter Your Message Here!');
    }
  });

  // Intercept the form submission
  feedbackForm.submit(function(event) {
    event.preventDefault(); // Prevent the form from submitting normally

    // Submit the form data via AJAX
    $.ajax({
      url: feedbackForm.attr('action'), // Use the form's "action" attribute as the URL
      type: feedbackForm.attr('method'), // Use the form's "method" attribute as the HTTP method
      data: feedbackForm.serialize(), // Serialize the form data for submission
      success: function(response) {
        // If the submission was successful, display a success message
        var feedbackMessage = $('<div class="feedback-message text-white bg-success mt-3 py-2 px-2"></div>');
        feedbackMessage.text(response.message);
        feedbackForm.before(feedbackMessage);
        feedbackForm.trigger('reset'); // Reset the form

        // Show the placeholder text again for the input and textarea elements
        emailInput.attr('placeholder', 'Your Email');
        messageInput.attr('placeholder', 'Enter Your Message Here!');

        // Remove the success message after a delay
        setTimeout(function() {
          feedbackMessage.fadeOut('slow', function() {
            $(this).remove();
          });
        }, 8000);
      },
      error: function(xhr) {
        // If the submission failed, display an error message
        var feedbackMessage = $('<div class="feedback-message text-white bg-danger mt-3 py-2 px-2"></div>');
        feedbackMessage.text(xhr.responseJSON.message);
        feedbackForm.before(feedbackMessage);

        // Remove the error message after a delay
        setTimeout(function() {
          feedbackMessage.fadeOut('slow', function() {
            $(this).remove();
          });
        }, 8000);
      }
    });
  });
</script>
<script>
  AOS.init();
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/JS/about.js"></script>
<script src="../static/JS/ourteam.js"></script>
  
{% endblock %}