{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- link to font-awesome CSS file -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- boostrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- custom -->
    <link rel="stylesheet" href="{% static '../static/css/index.css' %}">
    <title>Search Music</title>
    <link rel="icon" href="{% static 'Image/logoTitle.png' %}" type="image">
  </head>
  <body>
    <!-- Navbar -->
    <nav  class="navbar navbar-expand-lg navbar-light position-sticky top-0">
      <div class="container-md px-md-5">
        <a class="navbar-brand" href="{%url 'home'%}">
            <img src="{% static 'Image/logo.png' %}" width="100" height="62" class="d-inline-block align-top logo" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex gap-3">
            <li class="nav-item">
                <form method="get">
                    <input class="px-3" type="text" name="q" placeholder="Search by song name" style="height: 37px;">
                    <select name="category" class="px-3" style="height: 37px;">
                        <option value="">Search By Catagory</option>
                        <option value="">All categories</option>
                        <option value="happy">Happy</option>
                        <option value="sad">Sad</option>
                        <option value="disgust">Disgust</option>
                        <option value="angry">Angry</option>
                        <option value="surprise">Surprise</option>
                        <option value="neutral">Neutral</option>
                        <option value="fear">Fear</option>
                    </select>
                    <button type="submit" class="px-3" style="height: 37px;background-color: rgba(19, 19, 18, 0.887);color: white;outline: none;border: 0;border-radius: 5px;">Search</button>
                </form>
              
            </li>
            <li class="nav-item">
              <a href="{% url 'login'%}" class="btn btn-dark px-3 text-light text-center" style="background-color:#385A64;border-radius: 0;border: none; margin-left: 2px;" type="submit">Drop Music</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


 <section class="container px-md-5 mb-5">
    {% if results %}
    <div class="music-section music-container">
    {% for music in results %}
    <div class="music-card" data-aos="zoom-in-up">
      <img src="{{ music.img.url }}" class="card-img-top" alt="{{music.songTitle }}" style="width: 100%;object-fit: cover;">
      <div class="card-body music-body">
        <p style="align-self: center;">
          <span style="font-weight: 700;text-transform: capitalize;">{{music.songTitle}}</span> <br>
          <span style="text-transform: capitalize;">{{music.singer}}</span>
        </p>
        <audio controls class="music-player" controlsList="nodownload">
          <source src="{{ music.audio_file.url }}" type="audio/mpeg">
        </audio>
      </div>
    </div>
    {% endfor %}
    <script>
      // Get the container element
      var container = document.querySelector('.music-container');
    
      // Get all the music cards inside the container
      var cards = container.querySelectorAll('.music-card');
    
      // Convert the NodeList to an array
      var cardsArray = Array.prototype.slice.call(cards);
    
      // Shuffle the array
      cardsArray.sort(function() {
        return 0.5 - Math.random();
      });
    
      // Remove the cards from the container
      while (container.firstChild) {
        container.removeChild(container.firstChild);
      }
    
      // Add the shuffled cards back to the container
      cardsArray.forEach(function(card) {
        container.appendChild(card);
      });
    </script>
    
  </div>
  </section>
    {% else %}
        <h1 class="mt-5 text-center" style="font-weight:900;color: rgb(21, 4, 70);">No results found!!!!!</h1>
        <img src="{% static 'Image/search-not-found.png' %}" class="d-inline-block align-top logo" alt="logo">
    {% endif %}
 </section>
 <script>
    const musicPlayers = document.querySelectorAll('.music-player');
    let currentPlaying = null;
    
    musicPlayers.forEach(player => {
      player.addEventListener('play', () => {
        if (currentPlaying && currentPlaying !== player) {
          currentPlaying.pause();
        }
        currentPlaying = player;
      });
    });
  </script>
  <script>
    AOS.init();
  </script>
   <!-- Footer -->
  <section class="footer">
    <footer>
    <div class="container-lg px-md-5" style="min-height: 70vh;">
      <div class="row py-5">
            <div class="col-xl-4 col-md-4 col-sm-6 mb-3">
                <h6 class=" text-capitilize pb-3">About</h6>
                <p style="width: 70%;font-size: 14px;line-height: 2rem;">We empower people to find music that matches their emotions and
                  facial expressions, creating a personalized and meaningful 
                  listening experience.</p>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-6 mb-3">
                <h6 class="text-capitalize pb-3 ">Quick Links</h6>
                <div class="d-flex flex-column flex-wrap gap-2">
                    <div>
                        <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                        <a href="#home">Recomend Music</a>
                    </div>
                    <div>
                        <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                        <a href="https://soundcloud.com/">Sound Cloud</a>
                    </div>
                    <div>
                        <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                        <a href="https://open.spotify.com/">Spotify</a>
                    </div>
                    <div>
                        <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                        <a href="https://worldstardistro.com/">Worldstar</a>
                    </div>
                    <div>
                        <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                        <a href="https://genius.com/">Genius</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-6 mb-3">
                <h6 class="text-capitalize pb-3">Have a question?</h6>
                <div class="d-flex flex-column flex-wrap gap-2">
                    <div>
                        <span><ion-icon name="location"></ion-icon></span>
                      <span style="font-size: 14px;">Gyalposhing,Bhutan</span>
                    </div>
                    <div>
                        <span><ion-icon name="call" class="service-icon"></ion-icon></span>
                            <a href="tel:+97517337528">+975 17337538</a>
                    </div>
                    <div>
                        <span><ion-icon name="mail" class="service-icon"></ion-icon></span>
                        <a href="mailto:officialsonam.gcit@gmail.com">mrbfe.ai@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="row pt-5">
                <hr style="height: 2px;color: rgb(165, 164, 164);">
                <p class="text-center pt-3" style="font-size: 14px;">Copyright © 2023 | Emovibe Music | All Rights Reserved</p>
            </div>
        </div>
    </div>
    </footer>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>