<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/musicplay.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title> Recommended Music</title>
    <link rel="icon" href="../static/Image/logoTitle.png"  type="image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <style>
      
      /* Custom styles for the audio tag */
.music-player {
  width: 100%;
  height: 50px;
  background-color: #f7f7f7;
  border-radius: 0px;
  border: none;
  padding: 10px;
  box-shadow: 0px -10px 10px 0px rgba(107, 106, 106, 0.1);
  outline: none;
}

.music-player::-webkit-media-controls-panel {
  background-color: #f7f7f7;
}

/* .music-player::-webkit-media-controls-play-button,
.music-player::-webkit-media-controls-pause-button {
  display: none;
} */

.music-player::-webkit-media-controls-timeline-container {
  display: none;
}

.music-player::-webkit-media-controls-current-time-display,
.music-player::-webkit-media-controls-time-remaining-display {
  font-size: 14px;
  color: #020202;
  margin-left: 10px;
  margin-right: 10px;
}

.music-player::-webkit-media-controls-volume-slider-container {
  display: none;
}

    </style>
      <script>
        AOS.init();
      </script>
  </head>
  <body>
   <!-- Loading screen -->
   <div class="loading-screen">
    <div class="loading-message loader"></div>
    <h4 class="mt-3">Loading ... </h4>
  </div> 
      <!-- JavaScript to show/hide loading screen -->
      <script>
        // Show loading screen
        document.addEventListener("DOMContentLoaded", function(event) {
          document.querySelector(".loading-screen").style.display = "flex";
          setTimeout(function() {
            // Hide loading screen after 10 seconds
            document.querySelector(".loading-screen").style.display = "none";
            // Show main content
            document.querySelector(".main-content").style.display = "block";
          }, 2000);
        });
      </script>    
  <!-- main content -->
    <div class="container-md main-content px-md-5 pt-5">
      <div class="row gx-md-4">
        <div class="col-md-3 ps-0 pe-0">
          <h6>You look like 
            <span style="font-weight: 900; text-transform: uppercase;">
              <span style="position: relative;top: -5px; padding-right: 3px;"><i class="fa-solid fa-quote-left fa-flip-vertical"></i></span>
            <span>{{category}}!</span>
            <span style="position: relative;top: -5px; padding-left: 3px;"><i class="fa-solid fa-quote-left fa-rotate-180"></i></span>
          </span>
          </h6>
          <div data-aos="zoom-in-down" class="avatar-wrapper mt-4" style="width: 100%; height: 390px;margin-right:10px;background-color: rgba(14, 144, 7, 0.857); border-radius: 10px;">

            <img id="avatar-image" src="data:image/png;base64,{{ image_data }}" alt="face-expression-img" style="object-fit: fill;" width="100%" height="100%">
          </div>
          <a data-aos="zoom-in-down" class="btn btn-outline-dark w-100 mt-4 py-3" href="{% url 'face-expression' %}"> Try Again </a>
        </div>
        <div class="col-md-1 p-0 m-0"></div>
        <div class="col-md-8">
          <h6 class="heading-text">Here are some songs that might resonate with the emotion of
            <span style="font-weight: 900; text-transform: uppercase; padding-left: 4px;">
              <span style="position: relative;top: -5px; padding-right: 3px;"><i class="fa-solid fa-quote-left fa-flip-vertical"></i></span>
            <span>{{category}}!</span>
            <span style="position: relative;top: -5px; padding-left: 3px;"><i class="fa-solid fa-quote-left fa-rotate-180"></i></span>
          </span>
         </h6>
          <section class="music-section mt-4" data-aos="zoom-in-down">
            {% for music in music_list %}
            <div  class="card music-card">
              <div class="card-img-top">
              <img src="{{ music.img.url }}" alt="{{music.songTitle }}">
            </div>
              <div class="card-body music-body pb-1">
                <div class="d-flex justify-content-between align-items-center w-100">
                  <div class="d-flex flex-wrap w-100">
                    <p style="align-self: center;width: 100%;margin-right: 8px;display: flex;flex-wrap: wrap;flex-direction: column;gap: 4px;">
                      {% if music.songTitle|length > 15 %}
                      <span style="font-size: 15px;font-weight: 900;text-transform: uppercase;">{{music.songTitle|slice:":16"}}...</span>
                      {% else %}
                        <span style="font-size: 15px;font-weight: 900;text-transform: uppercase;">{{music.songTitle}}</span>
                      {% endif %}
                      {% if music.singer|length > 20 %}
                      <span style="font-size: 14px;">{{music.singer|slice:":20"}}...</span>
                      {% else %}
                        <span style="font-size: 14px;">{{music.singer}}</span>
                      {% endif %}
                    </p>
                  </div>
                  <div style="align-self: self-start;margin-top: 4px;background-color: #fff200;padding: 8px;border-radius: 100px;border: 1px solid #a9bb06;">
                    <button style="border: none;outline: none;background-color: transparent;" class="play-btn" id="playBtn{{ forloop.counter }}" onclick="togglePlay('{{ music.audio_file.url }}', this)">
                      <i class="fas fa-play fa-1x"></i>
                    </button>
                    <script>
                      function togglePlay(url, button) {
                      var playlist = document.getElementById('playlist');
                      var currentButton = document.querySelector('.pause-btn');
                      if (currentButton && currentButton.id !== button.id) {
                        currentButton.classList.remove('pause-btn');
                        currentButton.innerHTML = '<i class="fas fa-play fa-1x"></i>';
                        playlist.pause();
                        playlist.currentTime = 0;
                      }

                      if (playlist.paused) {
                        playlist.src = url;
                        playlist.play();
                        button.classList.add('pause-btn');
                        button.innerHTML = '<i class="fas fa-pause fa-1x"></i>';
                      } else {
                        playlist.pause();
                        playlist.currentTime = 0;
                        button.classList.remove('pause-btn');
                        button.innerHTML = '<i class="fas fa-play fa-1x"></i>';
                      }
                    }
                    </script>                    
                  </div>
                </div>
              </div>
            </div>
          {% endfor %} 
          </section>
        </div>
        
      </div>
        <script>
          function addSong(url) {
            var playlist = document.getElementById('playlist');
            playlist.pause();
            playlist.currentTime = 0;
            playlist.innerHTML = "";
            var source = document.createElement('source');
            source.src = url;
            source.type = 'audio/mpeg';
            playlist.appendChild(source);
            playlist.load();
            playlist.play();
          }
        </script>   
    </div>
    <div class=" container-md px-md-5">
      <div class="row fixed-bottom">
        <div class="col-12 text-center" style="background-color: #f7f7f7;">
          <audio id="playlist" controls class="music-player" controlsList="nodownload" seeking loop></audio>
        </div>
      </div>
    </div>
    <script>
      const musicPlayers = document.querySelectorAll('.music-player');
      let currentPlaying = null;
      musicPlayers.forEach(player => {
        player.addEventListener('play', () => {
          if (currentPlaying && currentPlaying !== player) {
            currentPlaying.pause();
          }
          currentPlaying = player;
        });
      });
    </script>
    <script>
      AOS.init();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>