<!DOCTYPE html>
<html>
<head>
  <title>Emovibe Music | Login Token</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="icon" href="../static/Image/logoTitle.png"  type="image">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    :root{
        --primary-color :#fefe03;
        --secondary-color:#00F6FF;
        --helper-color:#FF4F5A;
        --text-color:#00000;
    }
    html{
    scroll-behavior: smooth;
    position: relative;
    }
    body{
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100vh;
        background-image: url('https://images.pexels.com/photos/2769274/pexels-photo-2769274.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 2;
    }
    html::after{
        content: '';
        width: 100%;
        height: 100%;
        background-color: #28272459;
        position: absolute;
        top:0;
        padding: 0;
        margin: 0;
    }

    
    .input-group-text {
      cursor: pointer;
    }
    .card-header{
        font-weight: 900;
    }
  </style>
</head>
{% load static %}
<body>
  <div class="container pt-2 mt-2">
    <a href="{% url 'home'%}" style="background-color: #fefe03;padding-bottom: 10px;border-radius: 100px;">
      <img src="{% static 'images/back-arrow.svg' %}" width="60" height="33" class="d-inline-block align-top logo" alt="logo">
    </a>
  </div>
  <div class="container mt-4" id="loginForm">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card ">
          <div class="card-header text-center">
            <h3>We have sent you an email</h3>
          </div>
          <div class="card-body text-center">
            <h6>Please check your mail (<a href="https://mail.google.com/"> {{ email }}</a>)! To verify your account?</h6>
            <img src="../static/images/emailsend.png" alt="email-verification" style="width: 100%; height: 400px;object-fit: contain; object-position: center;">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
